---
Checks:          'clang-diagnostic-*,clang-analyzer-*,cppcoreguidelines-*,bugprone-*,cert-*,readability-*,llvm-namespace-comment,-cppcoreguidelines-special-member-functions'
WarningsAsErrors: ''
HeaderFilterRegex: '.*/libfunctionality/.*'
AnalyzeTemporaryDtors: false
FormatStyle:     file
...
